@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.header {
  background: $primary-color;
  width: 100%;
  position: fixed;
  top: 0;
}

.headerHidden {
  display: none;
}

.headerContainer {
  height: 8rem;
  display: flex;
  align-items: center;
  position: relative;
  color: white;
  padding: 1rem;
  @include desktop {
    padding: 3rem 4rem;
  }
}

.logo {
  display: flex;
}

.navText {
  &:hover {
    color: $primary-highlight;
    transition: color 0.5s ease;
    cursor: pointer;
  }
}

//-------- desktop navbar -------->
.navigation {
  display: none;

  @include desktop {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.navigation ul {
  display: flex;
  padding: 0;
  margin: 0;
  @include desktop {
    width: 30rem;
    justify-content: space-between;
  }
}

//----- mobile navbar------------>

.navigationMobile {
  display: flex;
  align-items: center;

  @include desktop {
    display: none;
  }
}

.navigationMobile ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 5rem;
  right: 0;
  width: 100%;
  margin: 0;
  background-color: $primary-color;
  box-shadow: 0 2px 2px rgba(132, 169, 140, 0.5);
  padding-bottom: 1rem;
}

.navigationMobile li {
  padding: 0.5rem;
  padding-left: 20%;
}

.menuicon {
  position: absolute;
  right: 1rem;
  top: 3.1rem;
  cursor: pointer;
  &:hover {
    color: $primary-highlight;
    transition: color 0.5s ease;
  }
}
