@font-face {
  font-family: "RobotoMono";
  src: url("../../public/fonts/RobotoMono-Light.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "RobotoMono";
  src: url("../../public/fonts/RobotoMono-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "RobotoMono";
  src: url("../../public/fonts/RobotoMono-Bold.ttf") format("truetype");
  font-weight: 700;
}
