@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.footerContainer {
  background: $primary-dark;
  height: 8rem;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  position: relative;
  color: white;
  padding: 1rem;
  @include desktop {
    padding: 3rem 4rem;
  }
}

.footerText {
  margin-right: 1rem;
  font-size: 0.75rem;
  @include desktop {
    font-size: 1rem;
  }
}

.footerLogo {
  width: 2.5rem;
  height: 2rem;
}
