@use "../styles/partials/colors" as *;
@use "../styles/partials/fonts" as *;

html,
body {
  padding: 0;
  margin: 0;
  font-family: RobotoMono, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
